.DS_Store
screencapture-websites-envatousercontent-design-avada-resume-f7uiri-preview-1516721997333.png
screencapture-websites-envatousercontent-design-avada-resume-f7uiri-preview-1516722093684.png
screencapture-websites-envatousercontent-design-avada-resume-f7uiri-preview-1516722131835.png
screencapture-websites-envatousercontent-design-avada-resume-f7uiri-preview-1516722153838.png